body{
    animation-name:body;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  @keyframes body{
    0%{background-color: #62ffdd;}
    25%{background-color: #ff6284}
    50%{background-color:#ffdd62}
    75%{background-color:#6284ff}
    100%{background-color:#62ffdd}
  }

.container{
    text-align: center;
    display:flex;
    background-color:#62ffdd;
}
.fixed{
    text-align: right;
    width: 700px;
    background-color:#ff6284;
}
.flex-item{
    text-align:left;
    flex-grow: 1;
    animation-name:divson;
 
}
#divCanvas{
    text-align: center;
}
#paleta{
    width: 433px;
}
#botao{
    width:200px;
}
#htmlBotao{
    cursor:grabbing;
}
#vazio{
    width:580px;
    background-color: #6284ff;
}
#myCanvas{
    cursor:crosshair;
}
#divson{
    font-weight: bold;
}
@keyframes divson{
    0%{background-color: #62ffdd;}
    25%{background-color: #ff6284}
    50%{background-color:#ffdd62}
    75%{background-color:#6284ff}
    100%{background-color:#62ffdd}
  }